* {
    font-family: 'PT Sans', sans-serif;
  }
  
  .Home,
  .About,
  .Contacts,
  .Projects {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
